body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #262626; /* Dark background */
  color: #fff; /* White text */
}

.login-container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  background-color: #1d1d1d; /* Dark container */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.5); /* Green shadow */
}

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h2 {
  margin: 10px 0;
  font-size: 24px; /* Larger font size */
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #222; /* Dark input background */
  color: #fff; /* White text */
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #00cc00; /* Green button */
  color: #fff; /* White text */
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00aa00; /* Darker green on hover */
}

#error-message {
  text-align: center;
  color: #ff5555; /* Red text for error messages */
}

p {
  text-align: center;

}